services:
  cache:
    image: valkey/valkey:9.0.0
    volumes:
    - redis-data:/data
    command: [valkey-server, --save, '60', '1', --loglevel, warning]
    restart: always
    read_only: true
  database:
    image: postgres:18-alpine
    volumes:
    - postgres-data:/var/lib/postgresql
    env_file:
    - ./environment
    restart: always
  weblate:
    image: weblate/weblate
    depends_on:
    - cache
    - database
    volumes:
    - weblate-data:/app/data
    - weblate-cache:/app/cache
    env_file:
    - ./environment
    restart: always
    read_only: true
    tmpfs:
    - /run
    - /tmp
    labels:
      # Enable traffic forwarding
      - "traefik.enable=true"
      - "traefik.http.routers.game.rule=Host(`translate.phoenixnetwork.net`)"
  traefik:
    image: traefik:v3
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.yml:/etc/traefik/traefik.yml
      - ./traefik/ssl/:/ssl-certs/
volumes:
  weblate-cache: {}
  weblate-data: {}
  postgres-data: {}
  redis-data: {}
